.container
  .row
    .col
      = month_calendar events: @carenders do |date, calendars| 
        .col
          = date.day
        - calendars.each do |calendar|
          = link_to calendar.body, calendar