.container
  .row{ style: "margin: 2%"}
    .col.panel.panel-primary.center-block{style: "width: 50%"}
      %ul.nav.nav-tabs.nav-stacked.text-center.text-primary{ style: "padding:2%"}
        取引先一覧
        - @suppliers.each do |supplier|
          %li
            = link_to supplier.email, "/users/#{current_user.id}/orders/new/#{supplier.id}"
      
