.container
  .row{ style: "margin: 2%"}
    .col
      .panel.panel-primary.center-block{style: "width: 50%"}
        .panel-heading.text-center
          %h2 取引先一覧
        .panel-body
        - @suppliers.each do |supplier|
          %h4.text-center= link_to supplier.name, "/users/#{current_user.id}/orders/new/#{supplier.id}"
  
      
