.container
  .row
    .col
      .col.text-right.text-primary
        %p 仕入先：八百屋
      %table.table.table-bordered
        %thread
          %tr
            %th.text-center.text-primary 商品名
            %th.text-center.text-primary 数量
            %th.text-center.text-primary 値段
            %th.text-center.text-primary 単位
        %tbody
          %tr
            %td.text-center.text-primary 人参
            %td.text-center.text-primary 1
            %td.text-center.text-primary 100
            %td.text-center.text-primary kg
          %tr
            %td.text-center.text-primary 人参
            %td.text-center.text-primary 1
            %td.text-center.text-primary 100
            %td.text-center.text-primary kg
          %tr
            %td.text-center.text-primary 人参
            %td.text-center.text-primary 1
            %td.text-center.text-primary 100
            %td.text-center.text-primary kg
          %tr
            %td.text-center.text-primary 人参
            %td.text-center.text-primary 1
            %td.text-center.text-primary 100
            %td.text-center.text-primary kg
          %tr
            %td.text-center.text-primary 人参
            %td.text-center.text-primary 1
            %td.text-center.text-primary 100
            %td.text-center.text-primary kg
      .col.text-right.text-info
        %p 合計：500円
      .col.text-right
        = form_with model: @orders, locale: true, class: "form-horizontal" do |f|
          .form-group
            = f.submit "発注", class: "btn-lg btn-danger "
