.container
  .row{ style: "margin: 20px"}
    .col.text-center.center-block.panel.panel-primary{ style: "width:50vw" }
      .col{ style: "margin: 50px"}
        =link_to "音声メモ", "/users/:user_id/memos/new", class: "btn-lg btn-primary btn-block" 
      .col{ style: "margin: 50px"}
        =link_to "タイプメモ", "#", class: "btn-lg btn-primary btn-block" 
      .col{ style: "margin: 50px"}
        =link_to "戻る", "#", class: "btn-lg btn-primary btn-block" 
      

